.wrapper * {
  margin: 0;
  padding: 0;
  color: #222;
  text-decoration: none;
}

.img {
}

.date {
  font-size: 0.8rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
}

.desc {
  padding: 0.5rem 0;
}

.tags-wrapper {
}

/* .tag {
  background: #f66;
  color: white;
  border: none;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  padding: 0.3rem 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 0.5rem;
}
.tag:nth-of-type(1) {
  margin-left: 0;
} */
