.wrapper {
  margin-top: 3.5rem;
}
.wrapper:nth-of-type(1) {
  margin-top: 0;
}

.wrapper * {
  margin: 0;
  padding: 0;
}

.img {
  max-height: 15rem;
}

.date {
  font-size: 0.8rem;
}

.title > a {
  color: black;
  font-size: 1.5rem;
  font-weight: 900;
}

.desc {
  /* color: #666; */
  margin-top: 0.5rem;
}

.tags-wrapper {
  margin-top: 0.5rem;
}

.tag {
  background: #29e;
  color: white;
  border: none;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 0.5rem;
}
.tag:nth-of-type(1) {
  margin-left: 0;
}
