@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,900');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: black;
}

a {
  text-decoration: none;
  color: #29e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.article-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem 1.5rem;
  padding: 2.5rem 0;
}

.margin-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.post-margin-wrapper {
  max-width: 768px;
}

.btn {
  border: none;
  background: none;
  font-weight: bold;
  color: #29e;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
.text-btn {
  padding: 0.5rem;
}
.ghost-btn {
  border: 0.1rem solid #29e;
}

@media screen and (max-width: 800px) {
  .article-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .article-list {
    grid-template-columns: 1fr;
  }
}
