@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display|Fira+Code|Montserrat:900');

:root {
  --primary: #3ca;
  --link: #39e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 17px;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color: #222;
  background: #f6f6f6;
}

p {
  line-height: 1.7;
}

a {
  color: var(--link);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.article-list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5rem 1.5rem;
  padding: 2.5rem 0;
}

.article-list > *:nth-child(1) {
  grid-column-end: span 3;
  display: flex;
}
.article-list > *:nth-child(1) > div:nth-child(2) {
  padding-left: 1rem;
  flex-basis: 60%;
}

.margin-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.post-margin-wrapper {
  max-width: 768px;
}

.btn {
  border: none;
  background: var(--primary);
  border: 0.1rem solid var(--primary);
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  font-family: 'Lato';
  letter-spacing: 1px;
}
.btn-mobile {
  padding: 0.5rem;
}
.text-btn {
  padding: 0.5rem;
  background: none;
  color: var(--primary);
  border-color: transparent;
}
.ghost-btn {
  background: none;
  color: var(--primary);
}

@media screen and (max-width: 800px) {
  .article-list {
    grid-template-columns: 1fr 1fr;
  }
  .article-list > *:nth-child(1) {
    grid-column-end: span 2;
  }
  .article-list > *:nth-child(1) > div:nth-child(2) {
    padding-left: 1rem;
  }
  .article-list > *:nth-child(1) > a > div {
    max-height: none !important;
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .article-list {
    grid-template-columns: 1fr;
  }
  .article-list > *:nth-child(1) {
    grid-column-end: auto;
    display: block;
  }
  .article-list > *:nth-child(1) > div:nth-child(2) {
  }
  .article-list > *:nth-child(1) > a > div {
    max-height: 10rem !important;
    height: auto;
  }
}
