@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

.wrapper {
  max-width: 650px;
  padding: 20px;
  margin: 0 auto;
}

.header {
}

.title > a {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
h1.title > a {
  font-size: 4rem;
}
h3.title > a {
  font-size: 2rem;
}
