.wrapper {
  background: white;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.wrapper * {
  margin: 0;
  padding: 0;
  color: #222;
  text-decoration: none;
}

.content {
  padding: 1rem;
  padding-top: 0.8rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.wrapper > a {
  width: 100%;
}

.img {
  max-height: 25rem;
}

.author-wrapper {
  display: flex;
  align-items: center;
  top: 4.5rem;
  margin-top: 0.3rem;
}
.author-img {
  width: 3rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  display: none;
}
.author-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.author {
  font-weight: bold;
  color: var(--primary);
  font-size: 0.8rem;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.1s;
  cursor: pointer;
  line-height: 1.5;
}
.author:hover {
  text-decoration-color: var(--primary);
}
.date {
  color: #888;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.7rem;
  line-height: 1.5;
  margin-top: none;
}

.title {
  font-size: 1.7rem;
  /* font-family: 'Playfair Display', serif; */
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.1s;
}
.title:hover {
  text-decoration-color: #222;
}

.desc {
  padding: 0.8rem 0;
  font-size: 1rem;
  flex-grow: 1;
}
.desc * {
  line-height: 1.5;
}

.tags-wrapper {
}

/* .tag {
  background: #f66;
  color: white;
  border: none;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  padding: 0.3rem 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 0.5rem;
}
.tag:nth-of-type(1) {
  margin-left: 0;
} */

@media screen and (max-width: 800px) {
  .img {
    max-height: 16rem;
  }
}

@media screen and (max-width: 500px) {
  .img {
    max-height: 10rem;
  }
}
